
body {
	background: url(../images/main_bg.jpg);
	font: 14px/1.5 Arial, Verdana, sans-serif;
	color: #FFFAFA;
	text-align: center;
}
#header {
	overflow: hidden;
	
}

#wrapper {
	width: 1100px;
	overflow: hidden;
	margin: 0 auto;
}


#logo {
	width: 65px;
	height: 65px;
	float: left;
	margin-left: 16px;
	margin-top:51px;
}
#logo img{
width:65px;
height: 65px;
margin-top:-12;
}
#menu {
	width: 1100px;
	height: 72px;
	margin-top: 35px;
	background: #CD7F32;
	border-radius:6px;
	
	
}
#menu ul {
	padding-left: 2px;
	padding-top: 25px;
	overflow: hidden;
}
#menu ul li {
	float: left;
	font: bold 16pxpx Arial, Verdana, sans-serif; 
	color: #ffffff;
	margin-right: 70px;
}
#menu ul li a {
	color: #ffffff;
	display: block;
	line-height: 1;
}

#menu ul li a:hover, #menu .current {
	text-decoration: none;
	border-bottom: 2px solid #ffffff;
}

.block{
   display:inline-block;
    width:1000px;
	height:200px;
	margin:50px;
	border:2px solid;
}
.img_fort img{

width:400px;
height:200px;
}
.img_fort{float:left;}

.block2{
   display:inline-block;
    width:1000px;
	height:200px;
	margin:50px;
	border:2px solid;
}
.img_fort img{

width:400px;
height:200px;
}
.img_fort{float:left;}
.h1Fort{
float:left;
margin-left:200px;
color:black;
}















